body{
    background-color: #f1f1f1;
}
.headbg{
    margin: -25px -24px 20px -24px;
}
.headbg h6,
.bg-m input,
.bg-s input{
    font-weight: 600;
}
.bg-m,.bg-m:hover,.bg-m:focus{
    background-color: #a2bbb2;
}
.bg-s,.bg-s:hover,.bg-s:focus{
    background-color: #cae7df;
}
.bg-m *,
.bg-s *{
    color: #000 !important;
    margin:auto;
}

.even {
    background-color: #cae7df;
}
.even a.bg-m{
    color:#000;
}
.odd a.bg-m{
    background-color: #cae7df;
    color:#000;
}
tr td a+a{
margin-left: 5px;
}
.container-no-margin .row{
    margin-bottom: 0;
}
.p-2{
    padding:1rem !important;
}
.m-b-5{
    margin-bottom: 3rem;
}
.m-1{
    margin:.5rem auto;
}
.plr-1{
    padding-left: 1rem;
    padding-right: 1rem;
}
.l-align{
    text-align: left;
}
.r-align{
    text-align: right;
}
.c-align{
    text-align: center;
}
.primary-text-bold {
    color: #a2bbb2 !important;
    font-weight: 600
}
.input-field .prefix {
    color: #999;
}
.input-field .prefix.active {
    color: #a2bbb2;
}
h6.primary-text-bold.center-align {
    margin: 20px auto;
}
.t-c{
    text-transform: capitalize;
}
td{
    word-break: break-word;
    word-wrap: break-word;
    white-space: initial;
}
td:last-child,td:last-of-type{
    word-break: inherit;
}
.last-column a+a {
    margin-left: 20px;
}
.center-align i.btn{
    width: 100%;
}
.dropdown-content li>span{
    color: #a2bbb2;
}
.b-s{
    box-shadow: 0px 1px 10px -2px #959595;
}
input[type=password]:not(.browser-default).validate+label,
input[type=text]:not(.browser-default).validate+label::after,
input[type=password]:not(.browser-default).validate+label::after,
input[type=number]:not(.browser-default).validate+label::after,
input[type=number]:not(.browser-default):focus:not([readonly])+label ,
input[type=text]:not(.browser-default):focus:not([readonly])+label ,
textarea.materialize-textarea:focus:not([readonly])+label       {
    color: #a2bbb2 !important;
}
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly])   {
    border-bottom: 1px solid #a2bbb2;
    box-shadow: 0 1px 0 0 #a2bbb2;
}


.mdl-button--raised.mdl-button--colored:hover,
.mdl-button--raised.mdl-button--colored{
    background-color: #a2bbb2;
    color:#000;
}
.mdl-data-table__cell--non-numeric.mdl-data-table__cell--non-numeric,
.mdl-data-table td  {
    text-align: center;
}
.mdl-data-table thead tr,
.mdl-data-table tfoot tr{
    background-color: #a2bbb2;
}
.mdl-data-table thead tr th,
.mdl-data-table tfoot tr th{
   /* color: #fff; */
   font-size: 0.9rem;
   text-align: center;
}

.mdl-cell--6-col select{
    width: auto;
    height: auto;
    display: inline-block;
    margin: 0 5px;
}
/* data table styling  */
.dataTables_filter input[type="search"]::placeholder {
    color: #6C587B;
}

.dataTables_filter label::after {
    position: relative;
    content: '\f002';
    color: #6C587B;
    right: 15px;
    font: normal normal normal 14px/1 FontAwesome;
}

.dataTables_filter label {
    color: #fff;
}
@media only screen and (max-width:600px){
    .dataTables_length{
        text-align:center;
    }
}
        ::-webkit-scrollbar {
            width: 6px;
            height: 6px;
          }
/* responsiveness code starts  */
@media only screen and (max-width: 768px) {
    .l-align,
    .r-align{
        text-align: center;
    }
    .l-align .btn,
    .r-align .btn,
    .c-align .btn{
        width: 100%;
    }
  }
  /* responsiveness code ends  */
/* datepicker calender icon styling starts  */
       .datepicker~button {
        position: absolute;
        right: 15px;
        top: 15px;
        border: 0;
        opacity: 0.7;
        cursor: pointer;
        background-color: transparent;
    }
    .datepicker~button:focus {
        background-color: transparent;
    }
    /* datepicker calender icon styling ends  */
/* units styling starts */
    input[type="text"]~.units{
        position:absolute;
        right: 15px;
        top: 15px;
        border: 0;
        opacity: 0.7;
    }
    /* units styling ends */