/* downloading the open sans font from google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* body and its background styling */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: black url("https://syntrack-dev.s3.ap-south-1.amazonaws.com/Testing/MRVC/login-background.jpg") no-repeat center center;
  background-size: cover;
  /* overflow: hidden; */
  height: 100%;
  max-height: 100vh;
}
/* overlay for page  */
.homepage {
  margin-top: -22px;
  background-color: rgba(0, 0, 0, 0.75);
}
/* header & its text styling starts*/
.title {
  background-color: black;
  text-align: center;
}
/* header & its text styling ends*/
/* login card styling starts */

.login {
  background-color: rgba(0, 0, 0, 0.45);
  width: auto;
  padding: 80px 60px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 30px;
  color: #eee;
}

.login .form-control {
  display: block;
  height: 34px;
  width: 230px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: transparent;
  color: #eee;
  border: 0;
  margin-top: 5px;
  border-bottom: 1px solid #eee;
}
/* login card styling ends */

/* footer styling starts  */
/* footer styling ends  */
/* navigation styling starts */
nav{background-color: rgba(0,0,0,0.85);}
.nav-wrapper.bg{
    text-align: center;
    padding: 15px 5px 5px;
}       
.nav-wrapper.bg .text{
    font-size: 2rem;
}
.tite{
    color:#eee;
    margin-left: 8.3333333%;
    padding-left: 0.75rem;
    font-size: 1.5rem;
    font-weight: 600;
}
.mar-top{
    margin-top:15%;
}
.card-img{
    max-width: 70%;
    margin-left: 15%;
    margin-top:-32%;
}
/* navigation styling ends */
/* outline button styling starts  */
.btn-outline{
    text-decoration: none;
    color: #eee;
    background-color: transparent;
    border:1px solid #eee;
    padding: 8px 30%;
    font-weight: 600;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
}
.btn-outline input,
.for-text, 
.for-text a{
    color:#eee ; 
    text-align: center;
}
/* outline button styling ends  */

input[type=text]:not(.browser-default).validate+label,
input[type=password]:not(.browser-default).validate+label,
input[type=text]:not(.browser-default).validate+label::after,
input[type=password]:not(.browser-default).validate+label::after        {
    color:#ddd !important;
}
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]){

    border-bottom: 1px solid #eee;
    box-shadow: 0 1px 0 0 #eee;
}
.input-field input {
    color:#eee;
}
/* footer styling starts  */
.page-footer{
    background-color: rgba(0,0,0,0.85);
    padding-top: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin:0;
}
.footer-text{
    color:#eee;
    text-align: center;
    padding: 5px 10px 10px;
    font-size: .75rem;
    margin:0;
}
.footer-logo{
    width: 9%;
    margin-bottom: -8px;
    padding: 5px;
}
.text-center{
    text-align: center;
}
@media only screen and (max-width:768px){
    .mar-top{margin-top:42%;margin-left: 0; margin-right:0;}
    .nav-wrapper.bg .text{
    font-size: 1.5rem;
}
.footer-logo{
    width: 35%;
}
}
/* footer styling ends  */
/* login card messages styling starts  */
.error{color:#ff4040;}
	    .success{color:#0ee50e;}
	    .file-field{z-index:1;}
	    .homepage{background-color: rgba(2, 36, 202, 0.69);}
	    .card {     background-color: rgba(203, 8, 24, 0.47058823529411764);}
		.input-field.col label{
		color:#eee;
		}
		.msg{
		  padding-left: .75rem;
    	  margin-left: 8.333333%;
		}
		.btn{
		border: 1px solid #eee;
		}
		.bgb,.bgb:hover,.sidenav li > a.btn:hover{
		background-color:rgb(2, 36, 202);}
		.bgb{border:none;}
    /* login card messages styling ends  */
/* side navigation bar and setting icon styling starts  */
		.sidenav li span,.sidenav li p{padding:0 32px;}
		.setting-icon{
			display: inline-block;
    		position: absolute;
    		left: 10px;
    		top:15px;
    		color:#fff;
		}

 [type="radio"].with-gap:checked + span::before, [type="radio"].with-gap:checked + span::after {
    border-color: rgb(2, 36, 202);
    background-color: rgb(2, 36, 202) ;
}
/* side navigation bar and setting icon styling ends  */
/* styling for autofill color change removing	starts */
		input:-internal-autofill-selected {
		background-color:transparent !important;	}
		input:-webkit-autofill,
		input:-webkit-autofill:hover,
		input:-webkit-autofill:focus,
		input:-webkit-autofill:active {
			animation: input_background_autofill 0s forwards;   
			-webkit-text-fill-color: #fff !important;	 

		}
		@keyframes input_background_autofill {
		    100% { background-color: transparent }
		}
/* styling for autofill color change removing	ends */

 .modal{width:35%;}
 @media only screen and (max-width: 576px){
  .modal{
    width: 75%;
  }
}
/* button & its hover state styling starts */
	   .bgg{
	   background-color:#777;
	   width: 36%;
border-radius: 45px;
box-shadow: none;
border:none
	   }
	   .bgg:hover{
	   box-shadow:none;
	   background-color:#777;}
	   .file-field input{
     color:#333;}
     /* button & its hover state styling ends  */

/*# sourceMappingURL=style.css.map */